@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ffffff92;
    color: #000000;
    /* font-family: "PT Serif", "serif"; */
}
h1{
    font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

