@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #f8f9fa; */

  font-family: "IBM Plex Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #343a40;
}

body::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 10px;
}
h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.profile-img {
  background-image: url("./assets/profile.jpg");
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
}
.left{
  background-color: #242423;
  color: #e8eddf;
}
.right{
  background-color: #e8eddf;
  overflow-y: scroll;
}
.page-btn{
  background-color: #f5cb5c;
  color: #333533;
  text-align: center;
  cursor: pointer;
}
.page-btn:hover{
  background-color: #eae2b7bf;
}
#btn:hover{
  background-color: #002f49dd !important;
}
.top-skills{
  background-color: #f5cb5c;
  color: #333533;
}
.top-skills-list ul li:first-child {
  list-style: none;
}
.top-skills-list ul li {
  list-style: circle;
}

.banner {
  background-color: #212529;
  color: #e9ecef;
  object-fit: auto;
  background-size: auto;
}

.round-circle {
  background-color: #f5cb5c;
}
.talks-btn {
  background-color: #343a40;
}
.proile-other-content {
  background-color: #dee2e6;
}
